{
  "swagger" : "2.0",
  "info" : {
    "version" : "1.8",
    "title" : "Iterable API",
    "termsOfService" : "https://iterable.com/terms-of-service/"
  },
  "host" : "api.iterable.com",
  "basePath" : "/",
  "tags" : [ {
    "name" : "In-app"
  }, {
    "name" : "SMS"
  }, {
    "name" : "campaigns"
  }, {
    "name" : "catalogs"
  }, {
    "name" : "channels"
  }, {
    "name" : "commerce"
  }, {
    "name" : "email"
  }, {
    "name" : "events"
  }, {
    "name" : "experiments"
  }, {
    "name" : "export"
  }, {
    "name" : "lists"
  }, {
    "name" : "messageTypes"
  }, {
    "name" : "metadata"
  }, {
    "name" : "push"
  }, {
    "name" : "subscriptions"
  }, {
    "name" : "templates"
  }, {
    "name" : "users"
  }, {
    "name" : "webPush"
  }, {
    "name" : "webhooks"
  }, {
    "name" : "workflows"
  } ],
  "security" : [ {
    "api_key" : [ ]
  } ],
  "paths" : {
    "/api/subscriptions/{subscriptionGroup}/{subscriptionGroupId}/user/{userEmail}" : {
      "delete" : {
        "tags" : [ "subscriptions" ],
        "summary" : "Unsubscribe a single user",
        "description" : "Updates a user to be unsubscribed to the provided subscription group entity. <br>To enable this API, please contact your CSM.",
        "operationId" : "unsubscribeSingleUser",
        "parameters" : [ {
          "name" : "subscriptionGroup",
          "in" : "path",
          "description" : "Subscription group (i.e.: emailList, messageType, messageChannel) [Alphanumeric, case insensitive]",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "subscriptionGroupId",
          "in" : "path",
          "description" : "Subscription Group Id [Numeric]",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "userEmail",
          "in" : "path",
          "description" : "User's Email [Alphanumeric]",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "202" : {
            "description" : "Accepted a request to unsubscribe"
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          },
          "404" : {
            "description" : "Endpoint not found"
          }
        }
      },
      "patch" : {
        "tags" : [ "subscriptions" ],
        "summary" : "Subscribe a single user",
        "description" : "Updates a user to be subscribed to the provided subscription group entity. <br>To enable this API, please contact your CSM.",
        "operationId" : "subscribeSingleUser",
        "parameters" : [ {
          "name" : "subscriptionGroup",
          "in" : "path",
          "description" : "Subscription group (i.e.: emailList, messageType, messageChannel) [Alphanumeric, case insensitive]",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "subscriptionGroupId",
          "in" : "path",
          "description" : "Subscription Group Id [Numeric]",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "userEmail",
          "in" : "path",
          "description" : "User's Email [Alphanumeric]",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "202" : {
            "description" : "Accepted a request to subscribe"
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          },
          "404" : {
            "description" : "Endpoint not found"
          }
        }
      }
    },
    "/api/subscriptions/{subscriptionGroup}/{subscriptionGroupId}/byUserId/{userId}" : {
      "delete" : {
        "tags" : [ "subscriptions" ],
        "summary" : "Unsubscribe a single user by userId",
        "description" : "Updates a user to be unsubscribed to the provided subscription group entity. <br>To enable this API, please contact your CSM.",
        "operationId" : "unsubscribeSingleUserByUserId",
        "parameters" : [ {
          "name" : "subscriptionGroup",
          "in" : "path",
          "description" : "Subscription group (i.e.: emailList, messageType, messageChannel) [Alphanumeric, case insensitive]",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "subscriptionGroupId",
          "in" : "path",
          "description" : "Subscription Group Id [Numeric]",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "User's userId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "202" : {
            "description" : "Accepted a request to unsubscribe"
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          },
          "404" : {
            "description" : "Endpoint not found"
          }
        }
      },
      "patch" : {
        "tags" : [ "subscriptions" ],
        "summary" : "Subscribe a single user by their userId",
        "description" : "Updates a user to be subscribed to the provided subscription group entity. <br>To enable this API, please contact your CSM.",
        "operationId" : "subscribeSingleUserByUserId",
        "parameters" : [ {
          "name" : "subscriptionGroup",
          "in" : "path",
          "description" : "Subscription group (i.e.: emailList, messageType, messageChannel) [Alphanumeric, case insensitive]",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "subscriptionGroupId",
          "in" : "path",
          "description" : "Subscription Group Id [Numeric]",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "User's userId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "202" : {
            "description" : "Accepted a request to subscribe"
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          },
          "404" : {
            "description" : "Endpoint not found"
          }
        }
      }
    },
    "/api/subscriptions/{subscriptionGroup}/{subscriptionGroupId}" : {
      "put" : {
        "tags" : [ "subscriptions" ],
        "summary" : "Bulk subscription action on a list of users",
        "description" : "Update a subscription group for a bulk number of users. All users will have the same event on the given subscriptionGroup. To enable this API, please contact your CSM.",
        "operationId" : "Bulk subscription action",
        "parameters" : [ {
          "name" : "subscriptionGroup",
          "in" : "path",
          "description" : "Subscription group (i.e.: emailList, messageType, messageChannel) [Alphanumeric, case insensitive]",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "subscriptionGroupId",
          "in" : "path",
          "description" : "Subscription Group Id [Numeric]",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "action",
          "in" : "query",
          "description" : "subscribe or unsubscribe",
          "required" : true,
          "type" : "string",
          "default" : "subscribe"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "user email",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BulkSubscriptionActionRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "202" : {
            "description" : "Accepted a request for bulk subscription actions"
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          },
          "404" : {
            "description" : "Endpoint not found"
          }
        }
      }
    },
    "/api/webhooks" : {
      "get" : {
        "tags" : [ "webhooks" ],
        "summary" : "Get webhooks",
        "description" : "Get webhooks for a project.",
        "operationId" : "getWebhooks",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/GetWebhooksResponse"
            }
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      },
      "post" : {
        "tags" : [ "webhooks" ],
        "summary" : "Update webhook",
        "description" : "",
        "operationId" : "updateWebhook",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Only the specified fields will be updated",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ApiWebhookModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiWebhookResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/commerce/updateCart" : {
      "post" : {
        "tags" : [ "commerce" ],
        "summary" : "Update a user's shopping cart items",
        "description" : "Update the 'shoppingCartItems' field on the user profile with shopping cart items. User profile is updated if it already exists (created otherwise) via the user field. Types of data fields must match the types sent in previous requests, across all data fields in the project.",
        "operationId" : "updateCart",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "state of the cart",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UpdateCartRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/commerce/trackPurchase" : {
      "post" : {
        "tags" : [ "commerce" ],
        "summary" : "Track a purchase",
        "description" : "Track purchase events. 'shoppingCartItems' field on the user profile is cleared. User profile is also updated if it already exists (created otherwise) using the user request field. Also, note that there is a soft limit on the number of unique fields a user can have (default is 1,000). Types of data fields must match the types sent in previous requests, across all data fields in the project.",
        "operationId" : "trackPurchase",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "purchase data",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/TrackPurchaseRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/push/target" : {
      "post" : {
        "tags" : [ "push" ],
        "summary" : "Send push notification to user",
        "description" : "Send a push notification to a specific user. Request data fields will override user profile data fields. A reference to the user profile is provided via the 'profile' field, to help resolve field collisions.",
        "operationId" : "target",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Recipient and email id",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/TargetPushRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/push/cancel" : {
      "post" : {
        "tags" : [ "push" ],
        "summary" : "Cancel a push notification to a user",
        "description" : "Cancel a push notification to a specific user. Must include either an email address AND campaignId, or just a scheduledMessageId.",
        "operationId" : "cancel",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Email and Campaign ID",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CancelScheduledMessageRequest - campaignId OR scheduledMessageId are required"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/experiments/metrics" : {
      "get" : {
        "tags" : [ "experiments" ],
        "summary" : "Get metrics for experiments",
        "description" : "Get metrics for a single experiment or for multiple experiments. Note that we currently only support exporting email experiment metrics.",
        "operationId" : "metrics",
        "produces" : [ "text/csv" ],
        "parameters" : [ {
          "name" : "experimentId",
          "in" : "query",
          "description" : "Experiment to export. Specify multiple experimentId query parameters to export multiple experiments.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "object"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "campaignId",
          "in" : "query",
          "description" : "Campaign whose experiments you want to export. Specify multiple campaignId query parameters to export multiple campaigns.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "object"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "startDateTime",
          "in" : "query",
          "description" : "export starting from (>=)",
          "required" : false,
          "type" : "string",
          "default" : "2018-06-25",
          "format" : "date-time"
        }, {
          "name" : "endDateTime",
          "in" : "query",
          "description" : "export ending at (<=)",
          "required" : false,
          "type" : "string",
          "default" : "2018-07-25",
          "format" : "date-time"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ExperimentMetricsResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/lists/{listId}" : {
      "delete" : {
        "tags" : [ "lists" ],
        "summary" : "Delete a static list",
        "description" : "Delete a static list by listId.",
        "operationId" : "delete",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "list id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/lists" : {
      "get" : {
        "tags" : [ "lists" ],
        "summary" : "Get lists",
        "description" : "Get all lists within a project. <b>Rate limit</b>: 100 requests/second, per project.",
        "operationId" : "getLists",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/GetListsResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      },
      "post" : {
        "tags" : [ "lists" ],
        "summary" : "Create a static list",
        "description" : "Create a new static list.",
        "operationId" : "create",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "name",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CreateListRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CreateListResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/lists/getUsers" : {
      "get" : {
        "tags" : [ "lists" ],
        "summary" : "Get users in a list",
        "description" : "Get all users within a list. <b>Rate limit</b>: 5 requests/minute, per project.",
        "operationId" : "getLists",
        "produces" : [ "text/plain" ],
        "parameters" : [ {
          "name" : "listId",
          "in" : "query",
          "description" : "list id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "string"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          },
          "503" : {
            "description" : "Request timeout.  Try again later."
          }
        }
      }
    },
    "/api/lists/{listId}/size" : {
      "get" : {
        "tags" : [ "lists" ],
        "summary" : "Get count of users in list",
        "description" : "Get the number of users within a list. <b>Rate limit</b>: 5 requests/minute, per project.",
        "operationId" : "getListCount",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "list id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "string"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          },
          "503" : {
            "description" : "Request timeout.  Try again later."
          }
        }
      }
    },
    "/api/lists/subscribe" : {
      "post" : {
        "tags" : [ "lists" ],
        "summary" : "Add subscribers to list",
        "description" : "Add specific subscribers to a list.",
        "operationId" : "subscribe",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "email list id and list of emails",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SubscribeRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ListResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/lists/unsubscribe" : {
      "post" : {
        "tags" : [ "lists" ],
        "summary" : "Remove users from a list",
        "description" : "Remove specific users from a list.",
        "operationId" : "unsubscribe",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "email list id and list of emails",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UnsubscribeRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ListResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/export/data.csv" : {
      "get" : {
        "tags" : [ "export" ],
        "summary" : "Export data to CSV",
        "description" : "Export campaign analytics data in CSV format. Use of either 'range' or 'startDateTime' and 'endDateTime' is required.<br/><b>Rate limit</b>: 4 requests/minute, per project.",
        "operationId" : "exportDataCsv",
        "produces" : [ "text/csv" ],
        "parameters" : [ {
          "name" : "dataTypeName",
          "in" : "query",
          "description" : "data type name",
          "required" : true,
          "type" : "string",
          "enum" : [ "emailSend", "emailOpen", "emailClick", "hostedUnsubscribeClick", "emailComplaint", "emailBounce", "emailSendSkip", "pushSend", "pushOpen", "pushUninstall", "pushBounce", "pushSendSkip", "inAppSend", "inAppOpen", "inAppClick", "inAppClose", "inAppDelete", "inAppDelivery", "inAppSendSkip", "inboxSession", "inboxMessageImpression", "smsSend", "smsBounce", "smsClick", "smsReceived", "smsSendSkip", "webPushSend", "webPushClick", "webPushSendSkip", "emailSubscribe", "emailUnSubscribe", "purchase", "customEvent", "user" ]
        }, {
          "name" : "range",
          "in" : "query",
          "description" : "date range, uses UTC time",
          "required" : false,
          "type" : "string",
          "default" : "Today",
          "enum" : [ "Today", "Yesterday", "BeforeToday", "All" ]
        }, {
          "name" : "delimiter",
          "in" : "query",
          "description" : "CSV filter delimiter",
          "required" : false,
          "type" : "string",
          "default" : ","
        }, {
          "name" : "startDateTime",
          "in" : "query",
          "description" : "Export starting from (>=) (yyyy-MM-dd HH:mm:ss [ZZ])",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "endDateTime",
          "in" : "query",
          "description" : "Export ending at (<) (yyyy-MM-dd HH:mm:ss [ZZ])",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "omitFields",
          "in" : "query",
          "description" : "Fields to omit (comma separated)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "onlyFields",
          "in" : "query",
          "description" : "If non-empty, will only export these fields",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi",
          "default" : "List.empty"
        }, {
          "name" : "campaignId",
          "in" : "query",
          "description" : "If provided, only export data from this campaign",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "string"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          },
          "429" : {
            "description" : "Rate limit exceeded"
          }
        }
      }
    },
    "/api/export/data.json" : {
      "get" : {
        "tags" : [ "export" ],
        "summary" : "Export data to JSON",
        "description" : "Export campaign analytics data in JSON format, one entry per line. Use of either 'range' or 'startDateTime' and 'endDateTime' is required.<br/><b>Rate limit</b>: 4 requests/minute, per project.",
        "operationId" : "exportDataJson",
        "produces" : [ "application/x-json-stream" ],
        "parameters" : [ {
          "name" : "dataTypeName",
          "in" : "query",
          "description" : "data type name",
          "required" : true,
          "type" : "string",
          "enum" : [ "emailSend", "emailOpen", "emailClick", "hostedUnsubscribeClick", "emailComplaint", "emailBounce", "emailSendSkip", "pushSend", "pushOpen", "pushUninstall", "pushBounce", "pushSendSkip", "inAppSend", "inAppOpen", "inAppClick", "inAppClose", "inAppDelete", "inAppDelivery", "inAppSendSkip", "inboxSession", "inboxMessageImpression", "smsSend", "smsBounce", "smsClick", "smsReceived", "smsSendSkip", "webPushSend", "webPushClick", "webPushSendSkip", "emailSubscribe", "emailUnSubscribe", "purchase", "customEvent", "user" ]
        }, {
          "name" : "range",
          "in" : "query",
          "description" : "date range, uses UTC time",
          "required" : false,
          "type" : "string",
          "default" : "Today",
          "enum" : [ "Today", "Yesterday", "BeforeToday", "All" ]
        }, {
          "name" : "startDateTime",
          "in" : "query",
          "description" : "export starting from (&gt;=) (yyyy-MM-dd HH:mm:ss [ZZ])",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "endDateTime",
          "in" : "query",
          "description" : "export ending at (&lt;) (yyyy-MM-dd HH:mm:ss [ZZ])",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "omitFields",
          "in" : "query",
          "description" : "fields to omit (comma separated)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "onlyFields",
          "in" : "query",
          "description" : "if nonempty, will only export these fields",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi",
          "default" : "List.empty"
        }, {
          "name" : "campaignId",
          "in" : "query",
          "description" : "if provided, only export data from this campaign",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "string"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          },
          "429" : {
            "description" : "Rate limit exceeded"
          }
        }
      }
    },
    "/api/export/userEvents" : {
      "get" : {
        "tags" : [ "export" ],
        "summary" : "Export user events",
        "description" : "Export all events in JSON format for a user. One event per line.",
        "operationId" : "exportUserEvents",
        "produces" : [ "application/x-json-stream" ],
        "parameters" : [ {
          "name" : "email",
          "in" : "query",
          "description" : "email",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "includeCustomEvents",
          "in" : "query",
          "description" : "Include Custom Events",
          "required" : false,
          "type" : "boolean",
          "default" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "string"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          },
          "429" : {
            "description" : "Rate limit exceeded"
          }
        }
      }
    },
    "/api/campaigns/trigger" : {
      "post" : {
        "tags" : [ "campaigns" ],
        "summary" : "Trigger a campaign",
        "description" : "Trigger a campaign given lists",
        "operationId" : "trigger campaign",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Trigger campaign",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/TriggerCampaignRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/campaigns/create" : {
      "post" : {
        "tags" : [ "campaigns" ],
        "summary" : "Create a campaign",
        "description" : "Create a new campaign",
        "operationId" : "create campaign",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Create campaign",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CreateCampaignRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CreateCampaignResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/campaigns/abort" : {
      "post" : {
        "tags" : [ "campaigns" ],
        "summary" : "Abort a campaign",
        "description" : "Abort a campaign given a campaign ID",
        "operationId" : "abort campaign",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Abort campaign",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CampaignIdRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/campaigns/recurring/{id}/childCampaigns" : {
      "get" : {
        "tags" : [ "campaigns" ],
        "summary" : "Get child campaigns of a recurring campaign",
        "description" : "Get child campaigns generated by a recurring campaign. <b>Rate limit</b>: 100 requests/second, per project.",
        "operationId" : "child campaigns",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CampaignsResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/campaigns/cancel" : {
      "post" : {
        "tags" : [ "campaigns" ],
        "summary" : "Cancel a scheduled or recurring campaign",
        "description" : "Cancel a campaign given a campaign ID",
        "operationId" : "cancel campaign",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Cancel campaign",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CampaignIdRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/campaigns" : {
      "get" : {
        "tags" : [ "campaigns" ],
        "summary" : "List campaign metadata",
        "description" : "Get metadata about campaigns in a project. <b>Rate limit</b>: 100 requests/second, per project.",
        "operationId" : "campaigns",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CampaignsResponse"
            }
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/campaigns/metrics" : {
      "get" : {
        "tags" : [ "campaigns" ],
        "summary" : "Get metrics for campaigns",
        "description" : "Get metrics for a single campaign or multiple campaigns. <b>Rate limit</b>: 100 requests/second, per project.",
        "operationId" : "metrics",
        "produces" : [ "text/plain" ],
        "parameters" : [ {
          "name" : "campaignId",
          "in" : "query",
          "description" : "Campaign(s) to export",
          "required" : true,
          "type" : "array",
          "items" : {
            "type" : "object"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "startDateTime",
          "in" : "query",
          "description" : "Export starting from (>=).  Accepted formats include YYYY-MM-DD and other ISO 8601 formats.",
          "required" : false,
          "type" : "string",
          "default" : "2018-06-25",
          "format" : "date-time",
          "allowEmptyValue" : true
        }, {
          "name" : "endDateTime",
          "in" : "query",
          "description" : "Export ending at (<).  Accepted formats include YYYY-MM-DD and other ISO 8601 formats.",
          "required" : false,
          "type" : "string",
          "default" : "2018-07-25",
          "format" : "date-time",
          "allowEmptyValue" : true
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "string"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/workflows/triggerWorkflow" : {
      "post" : {
        "tags" : [ "workflows" ],
        "summary" : "Trigger a workflow",
        "description" : "Trigger a workflow. Triggering with a list is asynchronous. If a list trigger is in progress, it must finish before the same list can be triggered again for a particular workflow. The workflow stats may take several minutes to update if other workflows are running.",
        "operationId" : "triggerWorkflow",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Trigger workflow request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/TriggerWorkflowRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/events/trackBulk" : {
      "post" : {
        "tags" : [ "events" ],
        "summary" : "Bulk track events",
        "description" : "Events are created asynchronously and <b>processed separately from single event (non-bulk) endpoint</b>. Thus, if you need to make sure events are tracked in order, it is recommended that all of them are sent to the same endpoint (either bulk or non-bulk). <br /> Please note there is a soft limit (default is 8,000) on the number of unique fields a custom event can have. For events of the same name, identically named data fields must be of the same type.<br/><b>Rate limit</b>: 10 requests/second, per project.",
        "operationId" : "trackBulk",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Events to track",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BulkTrackRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/BulkTrackResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/events/trackWebPushClick" : {
      "post" : {
        "tags" : [ "events" ],
        "summary" : "Track a web push click",
        "description" : "",
        "operationId" : "trackWebPushClick",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Web Push click to track",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WebPushClickEventRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/events/trackPushOpen" : {
      "post" : {
        "tags" : [ "events" ],
        "summary" : "Track a mobile push open",
        "description" : "",
        "operationId" : "trackPushOpen",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Push open to track",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/TrackPushOpenRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/events/trackInAppOpen" : {
      "post" : {
        "tags" : [ "events" ],
        "summary" : "Track an in-app message open",
        "description" : "Creates an inAppOpen event for the specified user and message, and marks the message as having been read. When not using one of Iterable’s mobile SDKs, call this endpoint when a mobile app displays an in-app message to a user.",
        "operationId" : "trackInAppOpen",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "In-app open to track",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/InAppOpenRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/events/trackInAppClick" : {
      "post" : {
        "tags" : [ "events" ],
        "summary" : "Track an in-app message click",
        "description" : "Creates an inAppClick event for the specified user, message, and URL. When not using one of Iterable’s mobile SDKs, call this endpoint when a user taps on a button or link in an in-app message.",
        "operationId" : "trackInAppClick",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "In-app click to track",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/InAppClickRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/events/trackInAppDelivery" : {
      "post" : {
        "tags" : [ "events" ],
        "summary" : "Track the delivery of an in-app message",
        "description" : "Creates an inAppDelivery event for a specific user, device, and message. When not using Iterable's mobile SDKs, call this endpoint to indicate that a particular message has been delivered to a particular device for a particular user. Take care not to call this endpoint multiple times for the same message/device/user combination.",
        "operationId" : "trackInAppDelivery",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "In-app delivery to track",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/InAppDeliveryRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/events/trackInAppClose" : {
      "post" : {
        "tags" : [ "events" ],
        "summary" : "Track the closing of an in-app message",
        "description" : "Creates an inAppClose event for a specific user and in-app message. When not using Iterable's mobile SDKs, call this endpoint to indicate that the user tapped a close button, link or back button to close a particular in app-message.",
        "operationId" : "trackInAppClose",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "In-app close to track",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/InAppCloseRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/events/inAppConsume" : {
      "post" : {
        "tags" : [ "events" ],
        "summary" : "Consume or delete an in-app message",
        "description" : "Consumes or deletes an in-app message from the server. Use this API if your app does not use one of Iterable’s mobile SDKs, since they call it automatically. If an incoming in-app message is not configured to use the mobile inbox, use this API to \"consume\" it from the server queue after the user sees it. Otherwise, call this API when the user explicitly deletes an inbox-enabled message (by clicking a delete button in its content, swiping it in the inbox, etc.). If you pass a deleteAction value to this endpoint, Iterable generates an inAppDelete event; otherwise, it does not.",
        "operationId" : "inAppConsume",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "In-app notification to consume",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/InAppConsumeRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/events/{email}" : {
      "get" : {
        "tags" : [ "events" ],
        "summary" : "Get user events",
        "description" : "Get events for a specific user. <b>Rate limit</b>: 100 requests/second, per project.",
        "operationId" : "User events",
        "parameters" : [ {
          "name" : "email",
          "in" : "path",
          "description" : "Email of the user whose events you are retrieving.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The number of events to retrieve.  (Max is 200)",
          "required" : false,
          "type" : "integer",
          "default" : 30,
          "maximum" : 200,
          "minimum" : 1,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/GetEventsResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/events/byUserId/{userId}" : {
      "get" : {
        "tags" : [ "events" ],
        "summary" : "Get user events by userId",
        "description" : "Get events for a specific user by userId. <b>Rate limit</b>: 100 requests/second, per project.",
        "operationId" : "User events by userId",
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "UserId of the user whose events you are retrieving.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The number of events to retrieve.  (Max is 200)",
          "required" : false,
          "type" : "integer",
          "default" : 30,
          "maximum" : 200,
          "minimum" : 1,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/GetEventsResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/events/track" : {
      "post" : {
        "tags" : [ "events" ],
        "summary" : "Track an event",
        "description" : "Events are created asynchronously and <b>processed separately from single event (non-bulk) endpoint</b>. Thus, if you need to make sure events are tracked in order, it is recommended that all of them are sent to the same endpoint (either bulk or non-bulk). <br/>Please note there is a soft limit (default is 8,000) on the number of unique fields a custom event can have. For events of the same name, identically named data fields must be of the same type.<br/><b>Rate limit</b>: 2000 requests/second, per project.",
        "operationId" : "track",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Event to track",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/TrackRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/sms/target" : {
      "post" : {
        "tags" : [ "SMS" ],
        "summary" : "Send SMS notification to user",
        "description" : "Send an SMS notification to a specific user. Note that this API is typically used for transactional messaging. Request data fields will override user profile data fields.A reference to the user profile is provided via the 'profile' field, to help resolve field collisions.",
        "operationId" : "target",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Recipient and email ID",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/TargetSMSRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/sms/cancel" : {
      "post" : {
        "tags" : [ "SMS" ],
        "summary" : "Cancel an SMS to a user",
        "description" : "Cancel an SMS to a specific user. Must include either an email address AND campaignId, or just a scheduledMessageId.",
        "operationId" : "cancel",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Email and Campaign ID",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CancelScheduledMessageRequest - campaignId OR scheduledMessageId are required"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/email/target" : {
      "post" : {
        "tags" : [ "email" ],
        "summary" : "Send an email to an email address",
        "description" : "Send an email to a specific email address. Request data fields will override user profile data fields. A reference to the user profile is provided via the 'profile' field, to help resolve field collisions.",
        "operationId" : "target",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Recipient and email id",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/TargetEmailRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/email/viewInBrowser" : {
      "get" : {
        "tags" : [ "email" ],
        "summary" : "View a previously sent email",
        "description" : "View a rendered version of a previously sent email. <b>Rate limit</b>: 100 requests/second, per project.",
        "operationId" : "viewInBrowser",
        "parameters" : [ {
          "name" : "email",
          "in" : "query",
          "description" : "user's email",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userId",
          "in" : "query",
          "description" : "user's userId",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "messageId",
          "in" : "query",
          "description" : "id of sent message",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "string"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          },
          "404" : {
            "description" : "Data feed error encountered"
          }
        }
      }
    },
    "/api/email/cancel" : {
      "post" : {
        "tags" : [ "email" ],
        "summary" : "Cancel an email to a user",
        "description" : "Cancel an email to a specific user. Must include either an email address AND campaignId, or just a scheduledMessageId.",
        "operationId" : "cancel",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Email and Campaign ID",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CancelScheduledMessageRequest - campaignId OR scheduledMessageId are required"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/catalogs/{catalogName}/items/{itemId}" : {
      "get" : {
        "tags" : [ "catalogs" ],
        "summary" : "Get a specific catalog item",
        "description" : "Get a specific catalog item from the given catalog.",
        "operationId" : "getCatalogItem",
        "parameters" : [ {
          "name" : "catalogName",
          "in" : "path",
          "description" : "Catalog name [Alphanumeric, dashes, case insensitive, 255 characters max]",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "itemId",
          "in" : "path",
          "description" : "Catalog item id [Alphanumeric, dashes, case sensitive, 255 characters max]",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Catalog Item",
            "schema" : {
              "$ref" : "#/definitions/CatalogItemWithProperties"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          },
          "404" : {
            "description" : "No catalog item at specified location"
          }
        }
      },
      "put" : {
        "tags" : [ "catalogs" ],
        "summary" : "Create or replace a catalog item",
        "description" : "Asynchronous. Create or replace the specified catalog item in the given catalog. A catalog item's ID must be unique, contain only alphanumeric characters and dashes, and have a maximum length of 255 characters. If the catalog item already exists, it will be replaced by the value provided in the request body. Do not use periods in field names.",
        "operationId" : "indexCatalogItem",
        "parameters" : [ {
          "name" : "catalogName",
          "in" : "path",
          "description" : "Catalog name [Alphanumeric, dashes, case insensitive, 255 characters max]",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "itemId",
          "in" : "path",
          "description" : "Catalog item id [Alphanumeric, dashes, case sensitive, 255 characters max]",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Catalog item value",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CatalogIndexItemRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "202" : {
            "description" : "Catalog item update request received. Use GET /api/catalogs/{catalogName}/items/{itemId} to verify completion."
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          },
          "500" : {
            "description" : "Internal server error"
          }
        }
      },
      "delete" : {
        "tags" : [ "catalogs" ],
        "summary" : "Delete a catalog item",
        "description" : "Asynchronous. Deletes the specified item from the catalog. Data may not be deleted immediately.",
        "operationId" : "deleteCatalogItem",
        "parameters" : [ {
          "name" : "catalogName",
          "in" : "path",
          "description" : "Catalog name [Alphanumeric, dashes, case insensitive, 255 characters max]",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "itemId",
          "in" : "path",
          "description" : "Catalog item id [Alphanumeric, dashes, case sensitive, 255 characters max]",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "202" : {
            "description" : "Received request to deleted item. Use GET /api/catalogs/{catalogName}/items/{itemId} to verify completion."
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      },
      "patch" : {
        "tags" : [ "catalogs" ],
        "summary" : "Create or update a catalog item",
        "description" : "Asynchronous. Create or update the specified catalog item in the given catalog. A catalog item's ID must be unique, contain only alphanumeric characters and dashes, and have a maximum length of 255 characters. If the catalog item already exists, its fields will be updated with the values provided in the request body. Previously existing fields not included in the request body will remain as is. Do not use periods in field names.",
        "operationId" : "partialUpdateCatalogItem",
        "parameters" : [ {
          "name" : "catalogName",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "itemId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Catalog item contents",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CatalogUpdateItemRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "202" : {
            "description" : "Catalog item update request received. Use GET /api/catalogs/{catalogName}/items/{itemId} to verify completion."
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/catalogs/{catalogName}/items" : {
      "get" : {
        "tags" : [ "catalogs" ],
        "summary" : "Get the catalog items for a catalog",
        "description" : "",
        "operationId" : "listCatalogItems",
        "parameters" : [ {
          "name" : "catalogName",
          "in" : "path",
          "description" : "Catalog name [Alphanumeric, dashes, case insensitive, 255 characters max]",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page number to list (starting at 1).",
          "required" : false,
          "type" : "integer",
          "format" : "int32",
          "x-example" : 1
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "Number of results to display per page (defaults to 10).",
          "required" : false,
          "type" : "integer",
          "format" : "int32",
          "x-example" : 10
        }, {
          "name" : "orderBy",
          "in" : "query",
          "description" : "Field by which results should be ordered. To also use the sortAscending parameter, this field must have a defined type.",
          "required" : false,
          "type" : "string",
          "x-example" : "myField"
        }, {
          "name" : "sortAscending",
          "in" : "query",
          "description" : "Sort results by ascending (Defaults to false).",
          "required" : false,
          "type" : "boolean",
          "x-example" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "Items in the catalog that satisfy the request restraints",
            "schema" : {
              "$ref" : "#/definitions/GetCatalogItemsResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          },
          "404" : {
            "description" : "Catalog not found"
          },
          "500" : {
            "description" : "Internal server error"
          }
        }
      },
      "post" : {
        "tags" : [ "catalogs" ],
        "summary" : "Bulk create catalog items",
        "description" : "Asynchronous. Create up to 1000 catalog items with a single request. Each of a catalog's items must have a unique ID that contains only alphanumeric characters and dashes and has a maximum length of 255 characters. If the catalog already contains an item with the same ID as one provided in the request body, the item in the catalog will be completely overwritten, unless replaceUploadedFieldsOnly is set to true. Do not use periods in field names.",
        "operationId" : "bulkUpdateCatalogItems",
        "parameters" : [ {
          "name" : "catalogName",
          "in" : "path",
          "description" : "Catalog name [Alphanumeric, dashes, case insensitive, 255 characters max]",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Catalog bulk update request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CatalogBulkUploadRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "202" : {
            "description" : "Request to bulk upload items received"
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          },
          "404" : {
            "description" : "Catalog not found"
          },
          "500" : {
            "description" : "Internal server error"
          }
        }
      },
      "delete" : {
        "tags" : [ "catalogs" ],
        "summary" : "Bulk delete catalog items",
        "description" : "Asynchronous. Delete the specified catalog items from the catalog.",
        "operationId" : "bulkDeleteCatalogItems",
        "parameters" : [ {
          "name" : "catalogName",
          "in" : "path",
          "description" : "Catalog name [Alphanumeric, dashes, case insensitive, 255 characters max]",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Catalog bulk delete request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CatalogBulkDeleteRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "202" : {
            "description" : "Bulk delete catalog items request received."
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/catalogs" : {
      "get" : {
        "tags" : [ "catalogs" ],
        "summary" : "Get catalog names",
        "description" : "",
        "operationId" : "listCatalogs",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "Page number to list (starting at 1).",
          "required" : false,
          "type" : "integer",
          "format" : "int32",
          "x-example" : 1
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "Number of results to display per page (defaults to 10).",
          "required" : false,
          "type" : "integer",
          "format" : "int32",
          "x-example" : 10
        } ],
        "responses" : {
          "200" : {
            "description" : "List of catalogs",
            "schema" : {
              "$ref" : "#/definitions/GetCatalogsResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/catalogs/{catalogName}/fieldMappings" : {
      "get" : {
        "tags" : [ "catalogs" ],
        "summary" : "Get field mappings for a catalog",
        "description" : "Field mappings (field to data types) and undefined fields of a catalog",
        "operationId" : "getFieldMappings",
        "parameters" : [ {
          "name" : "catalogName",
          "in" : "path",
          "description" : "Catalog name [Alphanumeric, dashes, case insensitive, 255 characters max]",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Field mappings for catalog.",
            "schema" : {
              "$ref" : "#/definitions/CatalogFieldMappingsResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      },
      "put" : {
        "tags" : [ "catalogs" ],
        "summary" : "Set a catalog's field mappings (data types)",
        "description" : "Set a catalog's field mappings (data types). After being set, a given field's data type may not be changed. Valid types: boolean, date, geo_location, long, double, object, and string.",
        "operationId" : "updateFieldTypes",
        "parameters" : [ {
          "name" : "catalogName",
          "in" : "path",
          "description" : "Catalog name [Alphanumeric, dashes, case insensitive, 255 characters max]",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Catalog Field Types",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CatalogMappingsUpdateRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Catalog field mappings updated"
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/catalogs/{catalogName}" : {
      "post" : {
        "tags" : [ "catalogs" ],
        "summary" : "Create a catalog",
        "description" : "Create a catalog. Each catalog in a project must have a unique name. Catalog names can be no longer than 255 characters and must contain only alphanumeric characters and dashes.",
        "operationId" : "createCatalog",
        "parameters" : [ {
          "name" : "catalogName",
          "in" : "path",
          "description" : "Catalog name [Alphanumeric, dashes, case insensitive, 255 characters max]",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "201" : {
            "description" : "Catalog created"
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          },
          "500" : {
            "description" : "Internal server error"
          }
        }
      },
      "delete" : {
        "tags" : [ "catalogs" ],
        "summary" : "Delete a catalog",
        "description" : "Delete the catalog with the specified name.",
        "operationId" : "deleteCatalog",
        "parameters" : [ {
          "name" : "catalogName",
          "in" : "path",
          "description" : "Catalog name [Alphanumeric, dashes, case insensitive, 255 characters max]",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Catalog deleted",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/messageTypes" : {
      "get" : {
        "tags" : [ "messageTypes" ],
        "summary" : "List message types",
        "description" : "List all message types within a project. <b>Rate limit</b>: 100 requests/second, per project.",
        "operationId" : "messageTypes",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/MessageTypesResponse"
            }
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/templates/getByClientTemplateId" : {
      "get" : {
        "tags" : [ "templates" ],
        "summary" : "Get an email template by clientTemplateId",
        "description" : "<b>Rate limit</b>: 100 requests/second, per project.",
        "operationId" : "getByClientTemplateId",
        "parameters" : [ {
          "name" : "clientTemplateId",
          "in" : "query",
          "description" : "Client Template Id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ClientTemplateIdResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/templates/email/get" : {
      "get" : {
        "tags" : [ "templates" ],
        "summary" : "Get an email template by templateId",
        "description" : "<b>Rate limit</b>: 100 requests/second, per project.",
        "operationId" : "getEmailTemplate",
        "parameters" : [ {
          "name" : "templateId",
          "in" : "query",
          "description" : "Template ID",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale of content to get",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiEmailTemplateModel"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          },
          "404" : {
            "description" : "Content does not exist for specified locale"
          }
        }
      }
    },
    "/api/templates/email/upsert" : {
      "post" : {
        "tags" : [ "templates" ],
        "summary" : "Create email template",
        "description" : "Create email template if it doesn't exist already, otherwise update all email templates which match the name provided.",
        "operationId" : "upsertEmailTemplate",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Only the fields specified will be updated",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UpsertEmailTemplateModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/templates/email/update" : {
      "post" : {
        "tags" : [ "templates" ],
        "summary" : "Update email template",
        "description" : "",
        "operationId" : "updateEmailTemplate",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Only the fields specified will be updated",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ApiEmailTemplateModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/templates/push/get" : {
      "get" : {
        "tags" : [ "templates" ],
        "summary" : "Get a push template",
        "description" : "<b>Rate limit</b>: 100 requests/second, per project.",
        "operationId" : "getPushTemplate",
        "parameters" : [ {
          "name" : "templateId",
          "in" : "query",
          "description" : "Template ID",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale of content to get",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiPushTemplateModel"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          },
          "404" : {
            "description" : "Content does not exit for specified locale"
          }
        }
      }
    },
    "/api/templates/push/upsert" : {
      "post" : {
        "tags" : [ "templates" ],
        "summary" : "Create a push template",
        "description" : "Create a push template if it doesn't exist, otherwise update all push templates which match the name provided.",
        "operationId" : "upsertPushTemplate",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Only the fields specified will be updated",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UpsertPushTemplateModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/templates/push/update" : {
      "post" : {
        "tags" : [ "templates" ],
        "summary" : "Update push template",
        "description" : "",
        "operationId" : "updatePushTemplate",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Only the fields specified will be updated",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ApiPushTemplateModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/templates/sms/get" : {
      "get" : {
        "tags" : [ "templates" ],
        "summary" : "Get an SMS template",
        "description" : "<b>Rate limit</b>: 100 requests/second, per project.",
        "operationId" : "getSMSTemplate",
        "parameters" : [ {
          "name" : "templateId",
          "in" : "query",
          "description" : "Template ID",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale of content to get",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiSMSTemplateModel"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          },
          "404" : {
            "description" : "Content does not exit for specified locale"
          }
        }
      }
    },
    "/api/templates/sms/upsert" : {
      "post" : {
        "tags" : [ "templates" ],
        "summary" : "Create an SMS template",
        "description" : "Create an SMS template if it doesn't exist yet, otherwise update all SMS templates which match the name provided.",
        "operationId" : "upsertSMSTemplate",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Only the fields specified will be updated",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UpsertSMSTemplateModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/templates/sms/update" : {
      "post" : {
        "tags" : [ "templates" ],
        "summary" : "Update SMS template",
        "description" : "",
        "operationId" : "updateSMSTemplate",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Only the fields specified will be updated",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ApiSMSTemplateModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/templates/inapp/get" : {
      "get" : {
        "tags" : [ "templates" ],
        "summary" : "Get an in-app template",
        "description" : "",
        "operationId" : "getInAppTemplate",
        "parameters" : [ {
          "name" : "templateId",
          "in" : "query",
          "description" : "Template ID",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale of content to get",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiInAppTemplateModel"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          },
          "404" : {
            "description" : "Content does not exit for specified locale"
          }
        }
      }
    },
    "/api/templates/inapp/upsert" : {
      "post" : {
        "tags" : [ "templates" ],
        "summary" : "Create an in-app template",
        "description" : "Create an in-app template if it doesn't exist yet, otherwise update all in-app templates which match the name provided.",
        "operationId" : "upsertInAppTemplate",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Only the fields specified will be updated",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UpsertInAppTemplateModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/templates/inapp/update" : {
      "post" : {
        "tags" : [ "templates" ],
        "summary" : "Update in-app template",
        "description" : "",
        "operationId" : "updateInAppTemplate",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Only the fields specified will be updated",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ApiInAppTemplateModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/templates" : {
      "get" : {
        "tags" : [ "templates" ],
        "summary" : "Get project templates",
        "description" : "Get templates for a project. <b>Rate limit</b>: 100 requests/second, per project.",
        "operationId" : "getTemplates",
        "parameters" : [ {
          "name" : "templateType",
          "in" : "query",
          "description" : "Only retrieve templates associated with this template type",
          "required" : false,
          "type" : "string",
          "default" : "None",
          "enum" : [ "Base", "Blast", "Triggered", "Workflow" ]
        }, {
          "name" : "messageMedium",
          "in" : "query",
          "description" : "Only retrieve templates associated with this message medium",
          "required" : false,
          "type" : "string",
          "default" : "None",
          "enum" : [ "Email", "Push", "InApp", "SMS" ]
        }, {
          "name" : "startDateTime",
          "in" : "query",
          "description" : "Get templates created at or after this date time (yyyy-MM-dd HH:mm:ss [ZZ])",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "endDateTime",
          "in" : "query",
          "description" : "Get templates created before this date time (yyyy-MM-dd HH:mm:ss [ZZ])",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/GetTemplatesResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/auth/jwts/invalidate" : {
      "post" : {
        "tags" : [ "users" ],
        "summary" : "Invalidate all JWTs issued for a user",
        "description" : "Invalidate all JWTs issued for a user before the current time or before the specified time.",
        "operationId" : "Invalidate JWT",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Invalid JWT request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/InvalidateJwtRequest"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/users/forgotten" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Get hashed forgotten users in compliance with GDPR",
        "description" : "Get all hashed user emails that are currently in the blacklist. In order to calculate the hash, every email is lowercased, trimmed and hashed using SHA-256.<br><b>Rate limit</b>: 3 requests/second, per project.",
        "operationId" : "exportProjectForgottenUsers",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/GetForgottenUserEmailsResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/users/forget" : {
      "post" : {
        "tags" : [ "users" ],
        "summary" : "Forget a user in compliance with GDPR",
        "description" : "Delete the specified user's data from the Iterable project and prevent future data collection about them.<br><b>Rate limit</b>: 3 requests/second, per project.",
        "operationId" : "forget",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "user's email to be added to blacklist.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UserRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/users/unforget" : {
      "post" : {
        "tags" : [ "users" ],
        "summary" : "Unforget a user in compliance with GDPR",
        "description" : "Allow the Iterable project to resume collecting data about a previously forgotten user. Deleted data cannot be recovered.<br><b>Rate limit</b>: 3 requests/second, per project.",
        "operationId" : "unforget",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "user's email to be removed from blacklist.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UserRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/inApp/getMessages" : {
      "get" : {
        "tags" : [ "In-app" ],
        "summary" : "Get a user's in-app messages",
        "description" : "Get a user's in-app messages. This endpoint always returns the user's non-selective (not app-specific) in-app messages; to also fetch app-specific in-app messages, include a <code>packageName</code> and <code>platform</code> in the request. This endpoint returns new messages and messages that have already been saved to a mobile inbox, and each message has a <code>read</code> field to indicate whether or not it has already been seen.",
        "operationId" : "getMessages",
        "parameters" : [ {
          "name" : "email",
          "in" : "query",
          "description" : "The email address of the user for which to fetch in-app messages. Specify either an email or a userId.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userId",
          "in" : "query",
          "description" : "The userId of the user for which to fetch in-app messages. Specify either an email or a userId.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "The number of in-app messages to fetch.",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "platform",
          "in" : "query",
          "description" : "The platform of the app for which to retrieve selective in-app messages: iOS or Android (case-sensitive).",
          "required" : false,
          "type" : "string",
          "default" : "None",
          "enum" : [ "iOS", "Android" ]
        }, {
          "name" : "SDKVersion",
          "in" : "query",
          "description" : "Iterable SDK version (e.g., 6.2.17)",
          "required" : false,
          "type" : "string",
          "default" : "None"
        }, {
          "name" : "packageName",
          "in" : "query",
          "description" : "The package name of the app for which to retrieve selective in-app messages.",
          "required" : false,
          "type" : "string",
          "default" : "None"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiInAppMessagesResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/channels" : {
      "get" : {
        "tags" : [ "channels" ],
        "summary" : "Get channels",
        "description" : "Get all message channels within the project. <b>Rate limit</b>: 100 requests/second, per project.",
        "operationId" : "channels",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ChannelsResponse"
            }
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/inApp/target" : {
      "post" : {
        "tags" : [ "In-app" ],
        "summary" : "Send an in-app notification to a user",
        "description" : "Send an in-app notification to a specific user. Request data fields will override user profile data fields. A reference to the user profile is provided via the 'profile' field, to help resolve field collisions.",
        "operationId" : "target",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Recipient and email id",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/TargetInAppRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/inApp/cancel" : {
      "post" : {
        "tags" : [ "In-app" ],
        "summary" : "Cancel a scheduled in-app message",
        "description" : "Cancels the sending of a scheduled in-app message to a specific user.",
        "operationId" : "cancel",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Email and Campaign ID",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CancelScheduledMessageRequest - campaignId OR scheduledMessageId are required"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/metadata/{table}" : {
      "get" : {
        "tags" : [ "metadata" ],
        "summary" : "List keys in a table",
        "description" : "",
        "operationId" : "list",
        "parameters" : [ {
          "name" : "table",
          "in" : "path",
          "description" : "Table name [Alphanumeric, case insensitive]",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "nextMarker",
          "in" : "query",
          "description" : "next result set id; returned by previous search if more hits exist",
          "required" : false,
          "type" : "string",
          "default" : "None"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Listing"
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      },
      "delete" : {
        "tags" : [ "metadata" ],
        "summary" : "Delete a table",
        "description" : "Asynchronous. Deletes the table. 200 response indicates a valid request that will be processed; table may not be deleted immediately. Use GET /api/metadata/{table} to verify completion.",
        "operationId" : "delete",
        "parameters" : [ {
          "name" : "table",
          "in" : "path",
          "description" : "Table name [Alphanumeric, case insensitive]",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IterableApiResponse"
            }
          },
          "400" : {
[...]
