=begin
#Iterable API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: 1.8

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.31
=end

module Iterable
  class ChannelsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get channels
    # Get all message channels within the project. <b>Rate limit</b>: 100 requests/second, per project.
    # @param [Hash] opts the optional parameters
    # @return [ChannelsResponse]
    def channels(opts = {})
      data, _status_code, _headers = channels_with_http_info(opts)
      data
    end

    # Get channels
    # Get all message channels within the project. &lt;b&gt;Rate limit&lt;/b&gt;: 100 requests/second, per project.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChannelsResponse, Integer, Hash)>] ChannelsResponse data, response status code and response headers
    def channels_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChannelsApi.channels ...'
      end
      # resource path
      local_var_path = '/api/channels'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ChannelsResponse' 

      auth_names = opts[:auth_names] || ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChannelsApi#channels\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
